$main_bg : #02121a;
$nav_bg : #212834;
$bg_btn : #064ba2;
$white : white;
$black :black;
$light_green : #6099ee;
$dark_green: rgba(8, 15, 40, 0.9);
$dark_green_alpha: rgba(0, 0, 0, 0.3);
$duration : 1.6180339887s;
$easeInOutBack :cubic-bezier(0,.4,.65,.34);
$easeInOutCirc :cubic-bezier(0.7, 0.1, 0.1, 0.8);