@import "src/sass/variables";
@import "src/sass/mediaQueries";

.slider {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  background: $main_bg;
  height: 100%;
  width: 100%;
  @include isLaptop{
    height: auto;
  }

  &-list {
    position: relative;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.main_loader{
  display: block;
  position: relative;
  height: 10px;
  width: 100%;
  background: rgba(255, 255, 255, 0.28);
  overflow: hidden;
}
.main_loader:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: $light_green;
  animation: 1s prog ease-in infinite;
}
.error_msg {
  color: $white;
  font-size: 1.2rem;
  padding: 2rem;
  text-align: center;
}
@keyframes prog {
  to  {   width: 100%;}
}