@import "src/sass/variables";
@import "src/sass/mediaQueries";

.slider {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  background: $main_bg;
  height: 100%;
  width: 100%;
  @include isLaptop{
    height: auto;
  }

  &-list {
    position: relative;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}